In [33]:
import seaborn as sns
df=sns.load_dataset("titanic")
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [34]:
df["deck"].unique()

[NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [35]:
print(df.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [36]:
#Subset
subset=df[["survived","pclass","parch","fare"]]
subset

     survived  pclass  parch     fare
0           0       3      0   7.2500
1           1       1      0  71.2833
2           1       3      0   7.9250
3           1       1      0  53.1000
4           0       3      0   8.0500
..        ...     ...    ...      ...
886         0       2      0  13.0000
887         1       1      0  30.0000
888         0       3      2  23.4500
889         1       1      0  30.0000
890         0       3      0   7.7500

[891 rows x 4 columns]

In [37]:
df.iloc[0:2]#Row wise

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [38]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [39]:
df["age"].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [44]:
average_age=df["age"].mean()
print(average_age)
df["age"]=df["age"].fillna(average_age)
#df["age"].isnull().sum()
df.loc[[2,5,6,10,10,20]]

29.69911764705882

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.000000,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.000000,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
10,1,3,female,4.000000,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
20,0,2,male,35.000000,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True

In [12]:
#Disply Duplicate
df.duplicated().sum()

np.int64(107)

In [13]:
#Delete Duplicate value
df=df.drop_duplicates()
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [23]:
#Who survived more man or woman
df["sex"].value_counts()

sex
male      577
female    314
Name: count, dtype: int64

In [22]:
survival_df=df[df["survived"]==1]#alive
survival_df["sex"].value_counts()

sex
female    233
male      109
Name: count, dtype: int64

In [26]:
survival_df=df.groupby("sex")["survived"].mean()
survival_df

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [27]:
survival_df=df.groupby("sex")["survived"].value_counts()
survival_df

sex     survived
female  1           233
        0            81
male    0           468
        1           109
Name: count, dtype: int64

In [47]:
df["sex"]=df['sex'].str.title()
df.loc[[10,15,20,25,30]]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
10,1,3,Female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
15,1,2,Female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
20,0,2,Male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
25,1,3,Female,38.0,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
30,0,1,Male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True