What is Pandas?

Pandas is a Python library for data manipulation and analysis.
It provides two main data structures:

Series → 1D labeled array (like one column)

DataFrame → 2D labeled table (like an Excel sheet)

**1.Creating Data Structures**

 **1.1:Series (1D)**

In [132]:
import pandas as pd 
import numpy as np 
#from Tuple 
series=pd.Series((1,3,4,5,6,8),index=[1,2,3,4,5,6])
#from List
series2=pd.Series([1,2,3,4,5,np.nan,10])
#from Dictionary 
series3=pd.Series({"Name":"Foysal","Roll":210122,"Department":"CSE"})
#from Custom index 
dataframe4=pd.DataFrame((2,3,np.nan),index=['x','y','z'])
#Print Series
print(series,series2,"\n",series3,series4)
#Print type of pandas data structure type
print(type(series),type(series2),type(series3),type(series4))
#Datatype Check
print((series.dtypes,series2.dtypes,series3.dtypes,series4.dtypes))

1    1
2    3
3    4
4    5
5    6
6    8
dtype: int64 0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6    10.0
dtype: float64
 Name          Foysal
Roll          210122
Department       CSE
dtype: object
<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>
(dtype('int64'), dtype('float64'), dtype('O'), dtype('float64'))

**1.2:DataFrame (2D)**

In [136]:
import pandas as pd 
import numpy as np 
#from Tuple 
dataframe=pd.DataFrame((1,3,4,5,6,np.nan,8),index=[1,2,3,4,5,6,7])
#from List
dataframe2=pd.DataFrame([1,2,3,4,5,np.nan,10],index=[1,2,3,4,5,6,7])
#from Dictionary 
dataframe3=pd.DataFrame({"Name":"Foysal","Roll":210122,"Department":"CSE"},index=[1,2,3])
#from Custom index 
dataframe4=pd.DataFrame((2,3,np.nan),index=['x','y','z'])
#Print dataframe  
print(dataframe,dataframe2,"\n",dataframe3,dataframe4)
#Print Pandas Data Structure type
print(type(dataframe),type(dataframe2),type(dataframe3),type(dataframe4))
print("\n")
#Datatype Check
print((dataframe.dtypes,dataframe2.dtypes,dataframe3.dtypes,dataframe4.dtypes))

     0
1  1.0
2  3.0
3  4.0
4  5.0
5  6.0
6  NaN
7  8.0       0
1   1.0
2   2.0
3   3.0
4   4.0
5   5.0
6   NaN
7  10.0
      Name    Roll Department
1  Foysal  210122        CSE
2  Foysal  210122        CSE
3  Foysal  210122        CSE      0
x  2.0
y  3.0
z  NaN
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>


(0    float64
dtype: object, 0    float64
dtype: object, Name          object
Roll           int64
Department    object
dtype: object, 0    float64
dtype: object)

**2.Data Read and Write**

**2.1:Data Read**

In [ ]:
import pandas as pd
df=pd.read_csv("customers-100.csv")
df

In [103]:
df.describe().round(3)

          Salary
count     100.00
mean    77925.62
std     27337.33
min     30777.00
25%     55034.25
50%     76604.00
75%    105008.50
max    119911.00

<class 'pandas.core.series.Series'>
int64